{% extends "base.html" %}
{% load static %}
{% block content %}



    <div class="row" style="height: 30vh; padding-top: 15vh; padding-left: 8%">
        <form action = "/listFiltered/" method = 'get'>
            <div class="col-sm-3" style="text-align: right; float:left" >
                <div style="text-align: center">
                Autores:
                <br>
                <select name= "authors" class="form-control" >
                    <option value= "None" selected></option>
                    {% for auth in autores %}
                        <option value="{{ auth }}"  >{{ auth }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="col-sm-3"  style="text-align: center; float:left">
             <div style="text-align: center">
                Categoria:
                <br>
                <select name= "categorias" class="form-control">
                    <option value= "None" selected></option>
                    {% for cat in categorias %}
                        <option value= "{{ cat }}" >{{ cat }}</option>
                    {% endfor %}
                </select>
             </div>
            </div>
            <div class= "col-sm-3" style="text-align: center; float:left">
             <div style="text-align: center">
                Tags:
                <br>
                 <select name= "tags" class="form-control" >
                    <option value= "None" selected></option>
                    {% for tag in tags %}
                        <option value= "{{ tag }}" >{{ tag }}</option>
                    {% endfor %}
                </select>
              </div>

            </div>
            <div class= "col-sm-3" style="text-align: center; float:left">
             <div style="text-align: center">
                Dificuldade:
                <br>
                 <select name= "dificuldade" class="form-control" >
                    <option value= "None" selected></option>
                    {% for d in dificuldade %}
                        <option value="{{ d }}">{{ d }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <div class= "col-sm-3" style="text-align: center">
             <div style="text-align: center; float:left">
                 <input type="submit"/>
              </div>
            </div>
        </form>
    </div>


    <br>
    <br>
    <br>

    <div style="text-align: center">
    {% for key,value in info.items %}
              <div style="float: left; height: 80vh; display: inline " class="col-sm-6" data-aos="fade-up" data-aos-delay="">
                     <img src="{{value.0}}" style="text-align: center" alt="Image" class="img-fluid">
                  <div class="media-92812">
                     <div class="text" style="height: 30vh">
                        <span class="caption">{{ value.1 }}</span>
                        <h3><a href="/showrec/{{key}}/">{{ key }}</a></h3>
                        <p class="my-5"><a href="/showrec/{{key}}/" target="_blank" class="more-39291">Ver Mais</a></p>
                    </div>



                </div>
              </div>


    {% endfor %}
    </div>



{% endblock content %}
