{% extends "base.html" %}
{% load static %}
{% block content %}
{% if error %}
    <p>ERRO: Insira a informação pedida</p>
{% endif %}

    <div style = "text-align:center; padding-top: 12vh">
        <h2>Adicionar Receita</h2>
    </div>
    <form action="/add_recipe/" method="POST">
        {% csrf_token %}
        <div style = "padding-top: 10vh; text-align: center">
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Nome receita:</label>
                    <br>
                    <input type="text" id="name" name="name" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="cat">Categorias(inserir categorias separadas por vírgulas):</label>
                    <br>
                    <input type="text" id="cat" name="cat" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="data">Data(dd-mm-yyyy):</label>
                    <br>
                    <input type="text" id="data" name="data" required size="20">
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="tipo">Tipos(inserir tipos separadas por vírgulas):</label>
                    <br>
                    <input type="text" id="tipo" name="tipo" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="aut">Autores(inserir autores separados por vírgulas)</label>
                    <br>
                    <input type="text" id="aut" name="aut" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="dificuldade">Dificuldade(Fácil, Médio, Dificil)</label>
                    <br>
                    <input type="text" id="dificuldade" name="dificuldade" required size="20">
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="ingredientes">Ingredientes(separados por vírgulas eg leite,500,ml,manteiga,50,g)</label>
                    <br>
                    <textarea type="text" id="ingredientes" name="ingredientes" required style= "resize:none;width: 80%; height: 10vh"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="Passos">Passos(inserir passos separados por parágrafos)</label>
                    <br>
                    <textarea type="text" id="passos" name="passos" required style= "resize:none;width: 80%; height: 10vh"></textarea>
                </div>
            </div>
            <br>
            <br>

            <div class="row" >
                <div class="col-md-12" style="text-align: center">
                    <label for="imagem">Imagem(insira link da imagem que pretende)</label>
                    <br>
                    <input type="text" id="imagem" name="imagem" required size="50">
                </div>

                <br>
                <br>
                <br>
                <br>
                <div class="col-md-12" style="text-align: center">
                    <input type="submit">
                </div>
            </div>
        </div>

    </form>

{% endblock %}