{% extends "base.html" %}
{% load static %}
{% block content %}


    <div style = "text-align:center; padding-top: 10vh">
        <h2>Editar Receita</h2>
    </div>
    <form action="/edit_recipe" method="POST">
        <div class="row" style="height: 5vh; padding-top: 5vh;">
            <div class="col-md-12" style="text-align: center">
                <p>Receitas:</p>
                <div style=" padding-left: 33%; padding-right: 33%">
                    <br>
                    <select name= "receitas" class="form-control">

                        {% for r in receitas %}
                            <option value={{ r }}>{{ r }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div style = "padding-top: 10vh; text-align: center">

            <div class="row">
                <div class="col-md-4">
                    <label for="name">Nome receita:</label>
                    <br>
                    <input type="text" id="name" name="name" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="cat">Categorias(inserir categorias separadas por vírgulas):</label>
                    <br>
                    <input type="text" id="cat" name="cat" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="data">Data(dd-mm-yyyy):</label>
                    <br>
                    <input type="text" id="data" name="data" required size="20">
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="tipo">Tipos(inserir tipos separadas por vírgulas):</label>
                    <br>
                    <input type="text" id="tipo" name="tipo" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="aut">Autores(inserir autores separados por vírgulas)</label>
                    <br>
                    <input type="text" id="aut" name="aut" required size="40">
                </div>
                <div class="col-md-4">
                    <label for="dificuldade">Dificuldade(Fácil, Médio, Dificil)</label>
                    <br>
                    <input type="text" id="dificuldade" name="dificuldade" required size="20">
                </div>

            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="ingredientes">Ingredientes(separados por vírgulas eg leite,500,ml,manteiga,50,g)</label>
                    <br>
                    <textarea type="text" id="ingredientes" name="ingredientes" required style= "resize:none;width: 80%; height: 10vh"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="Passos">Passos(inserir passos separados por parágrafos)</label>
                    <br>
                    <textarea type="text" id="passos" name="passos" required style= "resize:none;width: 80%; height: 10vh"></textarea>
                </div>
            </div>
            <br>
            <br>

            <div class="row" >
                <div class="col-md-12" style="text-align: center">
                    <label for="imagem">Imagem(insira link da imagem que pretende)</label>
                    <br>
                    <input type="text" id="imagem" name="imagem" required size="50">
                </div>

                <br>
                <br>
                <br>
                <br>
                <div class="col-md-12" style="text-align: center">
                    <input type="submit">
                </div>
            </div>

        </div>
    </form>
{% endblock %}

<script type="text/javascript">
    function get_recipe(){
        var element = document.getElementById("receitas");
        var selected_recipe = element.options[element.selectedIndex].value;
        url = "{% url 'get_recipe_data' %}";
        $.post(url, selected_recipe,function (data) {
          document.getElementById("name").innerText = data["receita"][0];
          document.getElementById("cat").innerText = data["receita"][1];
          document.getElementById("data").innerText = data["receita"][2];
          document.getElementById("tipo").innerText = data["receita"][3];
          document.getElementById("aut").innerText = data["receita"][4];
          document.getElementById("dificuldade").innerText = data["receita"][5];
          document.getElementById("ingredientes").innerText = data["receita"][6];
          document.getElementById("passos").innerText = data["receita"][7];
          document.getElementById("imagem").innerText = data["receita"][8];

        });

    }

    function onSubmit(){
          document.getElementById("name").value = document.getElementById("name").innerText;
          document.getElementById("cat").value = document.getElementById("cat").innerText;
          document.getElementById("data").value = document.getElementById("data").innerText;
          document.getElementById("tipo").value = document.getElementById("tipo").innerText;
          document.getElementById("aut").value = document.getElementById("aut").innerText;
          document.getElementById("dificuldade").value = document.getElementById("dificuldade").innerText;
          document.getElementById("ingredientes").value = document.getElementById("ingredientes").innerText;
          document.getElementById("passos").value = document.getElementById("passos").innerText;
          document.getElementById("imagem").value = document.getElementById("imagem").innerText;
          return true;

    }
</script>