{% extends "base.html" %}
{% load static %}
{% block content %}



    <div class="row" style="height: 36vh; padding-top: 25vh">
        <div class="col-sm-1"></div>
        <div class="col-sm-2" style="text-align: right">
            <div style="text-align: center">
            Autores:
            <br>
            <select name= "authors" class="form-control" >
                {% for auth in autores %}
                    <option value={{ auth }}>{{ auth }}</option>
                {% endfor %}
            </select>
            </div>
        </div>
        <div class="col-sm-2"  style="text-align: center">
         <div style="text-align: center">
            Categoria:
            <br>
            <select name= "categorias" class="form-control">
                {% for cat in categorias %}
                    <option value={{ cat }}>{{ cat }}</option>
                {% endfor %}
            </select>
         </div>
        </div>
        <div class= "col-sm-3" style="text-align: center">
         <div style="text-align: center">
            Tags:
            <br>
             <select name= "tags" class="form-control" >
                {% for tag in tags %}
                    <option value={{ tag }}>{{ tag }}</option>
                {% endfor %}
            </select>
          </div>

        </div>

    </div>


    <br>
    <br>
    <br>

    <div style="text-align: center">
    {% for key,value in info.items %}
              <div style="float: left; height: 80vh; display: inline " class="col-sm-6" data-aos="fade-up" data-aos-delay="">
                     <img src="{{value.0}}" style="text-align: center" alt="Image" class="img-fluid">
                  <div class="media-92812">
                     <div class="text" style="height: 30vh">
                        <span class="caption">{{ value.1 }}</span>
                        <h3><a href="#">{{ key }}</a></h3>
                        <p class="my-5"><a href="#" class="more-39291">Learn More</a></p>
                    </div>



                </div>
              </div>


    {% endfor %}
    </div>



{% endblock content %}
