{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container" style = "padding-top: 10%">
        {% if validation_performed %}
            {% if valid %}
                 <div class="alert alert-success">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                     <p>Validação efetuada com sucesso!</p>
                  </div>
            {% else %}
                 <div class="alert alert-danger">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    <p>A validação falhou!</p>
                  </div>
            {% endif %}
        {% endif %}

        <div class = "container" style = "padding-top: 5%">
            <h5>Inserir ficheiro para validaçao:</h5>
            <form action= "/validatexml/"  enctype="multipart/form-data" method = "POST">
                <input type="file" name="xml" required>
                <input type="submit">
            </form>
        </div>
    </div>
{% endblock %}